table{
    border-collapse: collapse;
}

.title{
    background-color: rgb(194, 26, 26);
    color: white;
    height: 80px;
}

.one{
    width: 120px;
    color: #218bb5
}

.two{
    width: 70px;
}

.three{
    width: 280px;
    color: #218bb5
}

.four{
    width: 70px;
}

.five{
    width: 70px;
}

.six{
    width: 70px;
}

.main{
    color: red;
}